<div class="container">
  <header>
    <span class="title">{{title}}</span>
    <input type="text" name="spread-title" id="spread-title" value="Untitled Spreadsheet" autocomplete="off" spellcheck="false" placeholder="Spreadsheet Title">
  </header>
  <section class="actions">
    <span>File</span>
    <span>Edit</span>
    <span>View</span>
    <span>Insert</span>
    <span>Format</span>
    <span>Data</span>
    <span>Tools</span>
  </section>
  <section class="quick-menu">
    <span>
      <img src="/icons/undo.svg" alt="" width="22" height="22">
    </span>
    <span>
      <img src="/icons/redo.svg" alt="" width="22" height="22">
    </span>
    <span>
      <img src="/icons/print.svg" alt="" width="22" height="22">
    </span>
    <span>
      <img src="/icons/format.svg" alt="" width="22" height="22">
    </span>
    <span>
      <img src="/icons/pagesize.svg" alt="" width="22" height="22">
    </span>
    <span>
      <img src="/icons/fontsize.svg" alt="" width="22" height="22">
    </span>
    <span>
      <img src="/icons/bold.svg" alt="" width="22" height="22">
    </span>
    <span>
      <img src="/icons/italic.svg" alt="" width="22" height="22">
    </span>
    <span>
      <img src="/icons/underline.svg" alt="" width="22" height="22">
    </span>
    <span>
      <img src="/icons/strikethrough.svg" alt="" width="22" height="22">
    </span>
    <span>
      <img src="/icons/color.svg" alt="" width="22" height="22">
    </span>
  </section>

  <app-spreadsheet (cellChange)="onCellChange($event)" />
</div>